  <!-- Page Content -->
    <% if flash[:notice] %>
      <div class="alert alert-success"><%= flash[:notice] %></div>
    <% end %>
      <div class="container-fluid"> 
        <h1 class="mt-4" style="text-align: center;">PARKING</h1>
        <h3 class="mt-1" style="text-align: center;">On Tech</h3>
        <%= render partial: 'form', locals: { post: @post } %>
      </div>
    <!-- /#page-content-wrapper -->

  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->

