<nav class="navbar navbar-expand-lg navbar-light border-bottom" style="background-color:#efede0;">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="nav-main__home">
      <a class="nav-main__link" href="#">
        <i class="nav-main__icon fa fa-file-text-o"></i>
        <span class="nav-main__label">On Tech</span>
      </a>
    </div>
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <button class="btn btn-primary" href="#">新規登録</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-primary" href="#">ログイン</button>
      </li>
    </ul>
  </div>
</nav>