<nav class="navbar navbar-expand-lg navbar-light border-bottom" style="background-color:#efede0;">
  <button class="fas fa-bars fa-2x" id="menu-toggle"></button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item">
      <% if @current_user %>
        <%= link_to 'ユーザーリスト', admin_users_path, class: 'btn btn-primary' %>
        <%= link_to 'ログアウト', logout_path, method: :delete, class: 'btn btn-primary' %>
      <% else %>
        <%= link_to 'ログイン', login_path, class: 'btn btn-primary' %>
      <% end %>
      </li>
    </ul>
  </div>
</nav>