<nav class="nav-main__nav" id="sidebar-wrapper">
  <ul class="nav-main">
    <li class="nav-main__home">
      <a class="nav-main__link" href="/">
        <i class="nav-main__icon fa fa-file-text-o"></i>
        <span class="nav-main__label">On Tech</span>
      </a>
    </li>
    <li class="nav-main__item">
      <a class="nav-main__link" href="/">
        <i class="nav-main__icon fa fa-file-text-o"></i>
        <span class="nav-main__label">HOME</span>
      </a>
    </li>
    <li class="nav-main__item">
      <a class="nav-main__link" href="#">
        <i class="nav-main__icon fa fa-file-text-o"></i>
        <span class="nav-main__label">LIST</span>
      </a>
    </li>
  </ul>
</nav>